*{
   margin: 0;
   padding: 0;
}
.header
{
   height: 100vh;
      background-image: url(pic1.jpg);
   background-size: cover;
backgorund-position: center;
}
.navbar-style
{
   box-shadow: 0 5px 10px #efefef;
   text-transform: uppercase;
}
.logo
{
   height: 48px;
   padding: 2px 10px;
}
.img-responsive
{
   background-image: ;
}
.icon-bar
{
   background: darkblue;
}
li a
{
   color: #333;
}
.welcome
{
   position: absolute;
   width: 900px;
   margin-left: 0;
   margin-top: 0;
}

h1
{
   color: darkturquoise;
   text-transform: uppercase;
   font-size: 100px;
   text-align: center;
   margin-top: 150px;
}

.button
{
   margin-top: 30px;
   margin-left: 940px;
}

.btn
{
   border: 1px solid black;
   padding: 10px 30px;
   color: black;
   text-decoration: none;
   margin-right: 5px;
   font-size: 33px;
   text-transform: uppercase;
}

.btn-one
{
   font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
   background-color: darkblue;
   transition: all 0.5s ease-in;
}
